<div class="panel-body">
    <div class="panel-heading">
        <h3>To Do App</h3>
    </div>

    <div class="box-header with-border">
        <app-list #child></app-list>
    </div>

    <form [formGroup]="customForm" (ngSubmit)="onSubmit()">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-3" *ngFor="let data of formData">
                    <label for="{{data.for}}">{{data.label}}</label>
                    <input *ngIf="data.control=='input'" type="{{data.type}}" class="form-control" id="{{data.id}}"
                        placeholder="{{data.placeholder}}" formControlName="{{data.control_name}}">

                    <div *ngIf="data.control=='button'">
                        <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        {{customForm.value | json}}
    </form>
</div>